<launch>
  <arg name="rviz" default="true" />
  <arg name="robot" default="panda" />
  <arg name="prefix" default="panda" />

  <!-- Panda robot (default) -->
  <group if="$(eval robot=='panda')">
    <!-- Load URDF -->
    <param name="robot_description" command="xacro '$(find franka_description)/robots/panda/panda.urdf.xacro' arm_id:=$(arg prefix) hand:=true" />
    <rosparam param="initial_joints">[0.0, -0.785, 0.0, -2.356, 0.0, 1.571, 0.785, 0.035]</rosparam>
    <!-- Publish static tf for world -> $(arg prefix)_link0 -->
    <node name="virtual_joint" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 world $(arg prefix)_link0" />
  </group>
  <group if="$(eval robot=='pa10')">
    <!-- Load URDF -->
    <param name="robot_description" textfile="$(find agni_description)/robots/sfb.urdf" />
    <rosparam param="initial_joints">{
      ra_S1: 1.57, ra_S2: 1.1868, ra_S3: 0.0, ra_E1: -1.4486, ra_E2: 1.3963, ra_W1: -1.4835, ra_W2: 0.0,
      la_S1: 1.57, la_S2: 1.294, la_S3: 0.0, la_E1: -1.517, la_E2: -1.4, la_W1: -1.4835, la_W2: 0.0
    }</rosparam>
  </group>

  <!-- Publish joint states -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <rosparam param="source_list">[target_joint_states]</rosparam>
  </node>
  <!-- Given the published joint states, publish tf for all robot links -->
  <node name="rsp" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" />

  <!-- Run Rviz -->
  <node if="$(arg rviz)" name="$(anon rviz)" pkg="rviz" type="rviz" output="screen" args="-d $(dirname)/single.rviz" />
</launch>
